# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
.env

# VS Code settings
.vscode/

# OS files
.DS_Store

# Selenium logs
selenium-*.log
chromedriver.log

# Scraper artifacts
provinces.csv
schools.csv
failed_npsn.csv
